$purple-color: #380158;
$gray-color: #afafaf;
$green-color: #0dc74f;
$purple2-color: #350053;
$gray-color: #4a4a4a;
$green2-color: #0FCE33;
$gray3-color: #C9C9C9;
$gray4-color: #f7f7f7;
$gray5-color: #606060;
$purple3-color: #26003B;